.imgCollection{
  margin: 10px;
}
.spacer {
  -ms-flex: auto;
      flex: auto;
}
.descricao{
  width: 500px;
}
.contato{
  vertical-align: left;
  text-align: left;
}
.element-right {
  padding-left: 24px;
  padding-right: 8px;
}
.spacer {
  -ms-flex: auto;
      flex: auto;
}
.bg-color{
  background-color: #F1F6F8;
}
.search-bar{
  margin: auto;
  padding-bottom: 100px;
  padding-left: 100px;
}
.search-input {
  width: 85%;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 100px;
  line-height: 35px;
  border: none;
  z-index: 1;
  outline: none
}

.nome-perfil{
  margin-left: 15px;
  font-size: 35px;
  color: #fff;
}
.local{
  margin-left: 15px;
  color: #fff;
}
.files{
  margin-left: 35px;
}
.head-bg{
  background: url('../src/fundo-head.png') no-repeat left top ;
  background-size: 100% 100%;
}
.wave_com_btns{
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.icon-facebook {
  background: url('../src/facebook-button.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 35px;
  width: 35px;
  z-index: -1;
  border: 0px
}
.icon-twitter {
  background: url('../src/twitter-button.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 35px;
  width: 35px;
  z-index: -1;
  border: 0px
}
.icon-googleplus {
  background: url('../src/google-plus-symbol.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 35px;
  width: 35px;
  z-index: -1;
  border: 0px
}
.icon-play {
  background: url('../src/play-button.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 35px;
  width: 35px;
  z-index: -1;
  border: 0px
}
.icon-pause {
  background: url('../src/pause-symbol.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 35px;
  width: 35px;
  z-index: -1;
  border: 0px
}
.wavesurferClass{
  position: center;
  height: 100%;
  width: 500px;
  margin: 15px;
}
.btn-cart{
  background: url('../src/cart.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 30px;
  width: 30px;
  z-index: -1;
  border: 0px
}
.carrinho{
  margin: 10px;
}
.btn-heart{
  background: url('../src/heart.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 30px;
  width: 30px;
  z-index: -1;
  border: 0px
}
.info{
  margin: 10px;
}
.btn-info{
  background: url('../src/information-button.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 30px;
  width: 30px;
  z-index: -1;
  border: 0px
}
.btn-cloud{
  background: url('../src/cloud-download.png') no-repeat left top ;
  background-size: 100% 100%;
  position: left top;
  height: 30px;
  width: 30px;
  z-index: -1;
  border: 0px
}
.nome-audio{
  position: right bottom;
}

td {
   vertical-align: left;
   text-align: left;
}
